

// bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg


.bg__lines-right.smal{
  background-image: url(/images/bg/lines-right.svg);
  background-repeat: no-repeat;
  background-position: center -440px;
}

.bg__lines-right{
  background-image: url(/images/bg/lines-bg.svg);
  background-repeat: no-repeat;
}
.bg__lines-right.long{
  background-image: url(/images/bg/lines-long.svg);
  background-repeat: no-repeat;
}
.bg__lines-left.smal{
  background-image: url(/images/bg/lines-2.svg);
  background-repeat: no-repeat;
  background-position: top;
}
.bg__lines-left.long{
  background-image: url(/images/bg/lines-left.svg);
  background-repeat: no-repeat;
  background-position: center -170px;
}
.bg__lines-left{
  background-image: url(/images/bg/lines-bg-2.svg);
  background-repeat: no-repeat;
  background-position: center -150px;
}
.bg__polotno-left{
  background-image: url(/images/bg/polotno-left.png);
  background-repeat: no-repeat;
}
.bg__polotno-right{
  background-image: url(/images/bg/polotno-right.png);
  background-repeat: no-repeat;
}

.bg__lines-right.long.yes-no{
  background-position: bottom;
}

// bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg bg