// HEAR style ----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------

.hear {
  margin-bottom: 100px;
  &__container{
    max-width: 1290px;
    margin: 0 auto;
  }
  &__inner {
    background-image: url(/images/hear/bg-hear.png);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px;
  }
  &__boxes {
    display: flex;
    align-items: center;
  }
  &__box{
    max-width: 570px;
    &:last-child{
      margin-left: 36px;
    }
  }
  &__img {
    max-width: 570px;
  }
  &__title {
    text-transform: uppercase;
    @include text-style($orange-color, 34px, 41px, 700);
    margin-bottom: 15px;
  }
  &__descr {
    @include text-style($dark-color, 20px, 26px, 700);
    margin-bottom: 30px;
  }
  &__items {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 270px;
  }
  &__item-img {
    width: 124px;
    height: 124px;
    margin-bottom: 15px;
  }
  &__item-descr {
    @include text-style($dark-color, 16px, 27px, 500);
    text-align: center;
  }
  &__btn {
    width: 370px;
    border: none;
    outline: none;
  }
}


// ----------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------HEAR style end