
// qr-code style ----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------

.qr-code {
    background-image: url(/images/qr-code/qr-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 589px;
    margin-top: 113px;
    &__inner {
        height: 483px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        max-width: 470px;
        margin-top: -114px;
    }
    &__content {
        margin-left: 27px;
        max-width: 670px;
        position: relative;
    }
    &__title {
        @include text-style($orange-color, 34px, 41px, 700);
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    &__descr {
        @include text-style($dark-color, 16px, 27px, 500);
        margin-bottom: 20px;
    }
    &__subtitle {
        @include text-style($orange-color, 24px, 29px, 700);
        text-transform: uppercase;
    }
    &__subdescr {
        @include text-style($dark-color, 16px, 27px, 500);
        margin-bottom: 15px;
    }
    &__btn {
        display: block;
        width: 265px;
    }
    &__mobile {
        display: none;
        margin-top: 15px;
        text-align: center;
        position: absolute;
        background-color: $white-color;
        bottom: -110px;
        left: 0;
        right: 0;
    }
    &__mobile-title {
        margin-top: 20px;
        @include text-style($orange-color, 20px, 24px, 700);
        text-transform: uppercase;
    }
    &__mobile-descr {
        @include text-style($dark-color, 16px, 27px, 500);
        margin-bottom: 15px;
    }
    &__mobile-btn {
        display: block;
        max-width: 375px;
        margin: 0px auto;
    }
}

.qr-code__img-wrapper{
    width: 100%;
    overflow: hidden;
}

// ----------------------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------qr-code style end


.qr-code.qr-section{
    margin-top: 170px;
    .qr-code__img{
        margin-top: -110px;
    }
}

.qr-code.tools{
    margin-top: 170px;
    .qr-code__img{
        margin-top: -110px;
    }
}

.qr-code__btn-app{
    & img{
        border-radius: 8px;
    }
}

.qr-code.brend{
    .qr-code__img{
        margin-top: -110px;
    }
}





.qr-code__img-slider{
    max-width: 470px;
    .slick-list.draggable{
        height: 710px;
    }
    .qr-code__img{
        margin-top: 0;
    }
    .slick-slide{
        margin-right: 0;
        margin-top: 0px;
    }
}

.qr-code__btn-slide{
    .qr-code__btn-app{
        display: block;
        &:nth-child(2){
            margin-left: 5px;
        }
        max-width: 147px;
        & img{
            display: block;
            margin: 0;
        }
    }

    display: flex!important;
    align-items: center;
}

.qr-code__btn-slider.mobile{
    display: none;
}

.qr-code.horeca-mobile{
    margin-top: 263px;
}

.slick-dots{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    bottom: -42px;
    width: 48%;
    & li{
        width: 10px;
        height: 10px;
        font-size: 0;
        line-height: 0;

        margin-right: 20px;
        &.slick-active{
            & button{
                transition: all .3s;
                fill: $orange-color;
                filter: drop-shadow(0px 0px 10px $orange-color);
                background-color: $orange-color;
            }
        }
        & button{
            cursor: pointer;
            transition: all .3s;
            border: none;
            padding: 0;
            border-radius: 1000px;
            background-color: $hover-btn-white;
            width: 10px;
            height: 10px;
        }
    }
}


.qr-code.telegram{
    margin-top: 260px;
    .qr-code__img{
        margin-top: -110px;
    }
}