// SEO style ----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------

.seo__footer-title{
  text-align: center;
}


.line{
  position: absolute;
  bottom: 80px;
  max-width: 1050px;
  padding-right: 50px;
  width: 100%;
}
.seo {
  margin-top: 100px;
  margin-bottom: 100px;
  &__inner {
    background-image: url(/images/hear/bg-hear.png);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__content-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  &__item {
    position: relative;
    &:last-child{
      padding-bottom: 60px;
    }
  }
  &__content {
    max-width: 538px;
    margin-top: 118px;
    margin-left: 30px;
  }
  &__title {
    @include text-style($orange-color, 34px, 41px, 700);
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &__description {
    @include text-style($dark-color, 16px, 27px, 500);
  }
  &__img {
    max-width: 567px;
    margin-top: -55px;
  }
  &__item-title {
    @include text-style($orange-color, 34px, 41px, 700);
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-right: 30px;
    margin-left: 30px;
  }
  &__boxes {
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 50px;
    justify-content: space-around;
    margin-right: 30px;
    margin-left: 30px;
  }
  &__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 209px;
    width: 100%;
  }
  &__box-img {
    max-width: 153px;
    margin-bottom: 10px;
  }
  &__box-descr {
    @include text-style($dark-color, 16px, 27px, 500);
    text-align: center;
  }
  &__footer {
    margin-top: 67px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__big-title {
    padding: 15px;
    padding-right: 72px;
    text-transform: uppercase;
    @include text-style($orange-color, 26px, 32px, 700);
    text-align: center;
    position: relative;
    &::after{
      content: url("/images/seo/img.svg");
      position: absolute;
      top: -50px;
      right: 14px;
    }
  }
  &__big-wrap{
    margin: 0 auto;
    border: 2px solid $orange-color;
    border-radius: 1000px;
    max-width: 903px;
    width: 100%;
  }
}

// ----------------------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------SEO style end