// STEPS style ----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------

.steps.code{
  margin-bottom: 0;
  .steps__item{
    max-width: 370px;
  }
  .steps__item::after{
    top: -65px;
  }
  .steps__absolute-img{
    top: 30px;
    left: 54px;
  }
}

.steps {
  margin-bottom: 100px;
  position: relative;
  &__bg{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 934px;
    max-height: 934px;
    overflow: hidden;
  }
  &__number{
    margin-bottom: 15px;
    background: linear-gradient(91.42deg, #FF5B29 1.28%, #FFA917 99.19%);
    box-shadow: 0px 0px 20px rgba(255, 94, 19, 0.4), inset 4px 4px 15px rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    @include text-style($white-color, 60px, 73px, 700);
    padding: 13.5px 32px;
    border-radius: 1000px;
  }
  &__title {
    text-transform: uppercase;
    @include text-style($orange-color, 34px, 41px, 700);
    text-align: center;
    margin-bottom: 129px;
  }
  &__items {
    display: flex;
    justify-content: center;
  }
  &__item {
    &:first-child{
      .steps__number{
        padding: 13.5px 38px;
      }
    }
    &:last-child{
      .steps__number{
        padding: 13.5px 32px;
      }
    }
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 270px;
    text-align: center;
    position: relative;
    margin-right: 30px;
    &::after{
      content: url(/images/steps/arrow.svg);
      position: absolute;
      top: -32px;
      right: -95px;
    }
    &:last-child{
      margin-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__descr {
    @include text-style($dark-color, 16px, 27px, 500);
    & span{
      @include text-style($orange-color, 16px, 27px, 700);
    }
  }
  &__inner{
    position: relative;
  }

  &__absolute-img{
    & img{
      max-width: 218px;
      max-height: 219px;
    }
    position: absolute;
    top: -20px;
    left: 0px;
  }
  &__absolute-img-2{
    & img{
      max-width: 191px;
      max-height: 173px;
    }
    position: absolute;
    top: 19px;
    right: 0px;
  }
  &.code{
    padding-top: 0;
    padding-bottom: 0;
  }

}


// ----------------------------------------------------------------------------------------------------------
// ------------------------------------------------------------------------------------------STEPS style end











.big-steps {
  margin-bottom: 100px;
  margin-top: 100px;
  &__inner {
  }
  &__title {
    @include text-style($orange-color, 32px, 39px, 700);
    text-transform: uppercase;
    text-align: center;
  }
  &__boxes {
    display: flex;
    margin-top: 50px;
    justify-content: center;
  }
  &__box{
    &:first-child{
      .big-steps__item{
        &:last-child{
          &::before{
            display: none;
          }
          &::after{
            content: url(/images/big-steps/arrow-big.svg);
            position: absolute;
            top: 91px;
            right: -182px;
          }
        }
        &:first-child{
          &::before{
            bottom: -50px;
          }
        }
        &::before{
          position: absolute;
          content: url(/images/big-steps/arrow-small.svg);
          left: -15px;
          bottom: -5px;
        }
      }
    }
    &:last-child{
      .big-steps__item{
        &:last-child{
          &::after{
            content: url(/images/big-steps/arrow-big-2.svg);
            bottom: 36px;
            left: -182px;
          }
        }
        &:nth-child(1){
          &::after{
            right: -25px;
          }
        }
        &:nth-child(2){
          &::after{
            right: -25px;
          }
        }
        &::after{
          position: absolute;
          content: url(/images/big-steps/arrow-small-2.svg);

          bottom: -25px;
        }
      }
    }
    max-width: 370px;
    &:nth-child(2){
      margin-top: 185px;
      border-radius: 30px;
      background-color: $white-color;
      box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.28);
      padding: 30px;
      margin-left: 30px;
      margin-right: 30px;
      height: fit-content;
    }
  }
  &__box-title {
    @include text-style($orange-color, 24px, 29px, 700);
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
  }
  &__box-inner {
  }
  &__item {
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__descr {
    @include text-style($dark-color, 16px, 27px, 500);
    text-align: center;
  }
  &__box-block {
  }
  &__images-1 {
    max-width: 310px;
  }
  &__smal-img{
    max-width: 170px;
  }
  &__big-title {
    @include text-style($orange-color, 24px, 29px, 700);
    text-transform: uppercase;
    text-align: center;
  }
}

















