

//  TEXT style ----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------

.text {
  &__inner {
    display: flex;
    align-items: center;
  }
  &__title {
    @include text-style($orange-color, 34px, 34px, 700);
  }
  &__box {
    padding: 30px;
    border-radius: 30px;
    background-color: $white-color;
    box-shadow: 6px 6px 16px 0px rgba(0, 0, 0, 0.28);
    max-width: 670px;
    width: 100%;
  }
  &__box-descr {
    @include text-style($dark-color, 24px, 27px, 600);
    & span{
      @include text-style($orange-color, 24px, 27px, 600);
    }
  }
}


// ----------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------- TEXT style end