

//  WRAPPER_DESIGN style ----------------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------------------------

.wrapper-design {
  background-image: url(/images/wrapper-design/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 433px;
  &__inner {
    display: flex;
    align-items: center;
  }
  &__img {
    margin-top: -93px;
    margin-left: -92px;
    max-width  : 655px;
  }
  &__box {
    max-width: 570px;
    margin-left: 50px;
  }
  &__box-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    @include text-style($orange-color, 34px, 41px, 700);
    max-width: 470px;
  }
  &__box-descr {
    @include text-style($dark-color, 16px, 27px, 500);
  }
  &__box-btn {
    display: block;
    width: 234px;
    margin-top: 30px;
  }
}



// ----------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------- WRAPPER_DESIGN style end