<section class="big-steps">
    <div class="container">
        <div class="big-steps__inner">
            <h2 class="big-steps__title">Як працює картка лояльності для бонусів?</h2>
            <div class="big-steps__boxes">
                <div class="big-steps__box">
                    <h4 class="big-steps__box-title">У закладі</h4>
                    <div class="big-steps__box-inner">
                        <div class="big-steps__item">
                            <img src="/images/big-steps/img-1.png" alt="" class="big-steps__smal-img">
                            <p class="big-steps__descr">Гість робить замовлення у закладі</p>
                        </div>
                        <div class="big-steps__item">
                            <img src="/images/big-steps/img-3.png" alt="" class="big-steps__smal-img">
                            <p class="big-steps__descr">Сплачує замовлення та демонструє у додатку свою картку лояльності співробітнику</p>
                        </div>
                        <div class="big-steps__item">
                            <img src="/images/big-steps/img-4.png" alt="" class="big-steps__smal-img">
                            <p class="big-steps__descr">Співробітник сканує додатком QB Tools картку лояльності гостя, система списує / нараховує бонуси</p>
                        </div>
                    </div>
                </div>
                <div class="big-steps__box big-box">
                    <div class="big-steps__box-block">
                        <img src="/images/big-steps/big-img.png" alt="" class="big-steps__images-1">
                        <h3 class="big-steps__big-title">
                            Єдиний бонусний рахунок у закладі, додатку та на сайті
                        </h3>
                    </div>
                </div>
                <div class="big-steps__box">
                    <h4 class="big-steps__box-title">На 🚗 доставку або самовивіз</h4>
                    <div class="big-steps__box-inner">
                        <div class="big-steps__item">
                            <img src="/images/big-steps/img-5.png" alt="" class="big-steps__smal-img">
                            <p class="big-steps__descr">Гість робить замовлення через додаток/сайт на доставку або самовивіз</p>
                        </div>
                        <div class="big-steps__item">
                            <img src="/images/big-steps/img-6.png" alt="" class="big-steps__smal-img">
                            <p class="big-steps__descr">Сплачує замовлення та використовує бонуси</p>
                        </div>
                        <div class="big-steps__item">
                            <img src="/images/big-steps/img-7.png" alt="" class="big-steps__smal-img">
                            <p class="big-steps__descr">Система списує бонуси та нараховує нові за нове замовлення</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>