<footer class="footer">
    <div class="container-fluid">
        <div class="container">
            <div class="footer__boxes">
                <div class="footer__box">
                    <img src="/images/footer/logo.svg" alt="" class="footer__logo" loading="lazy">
                    <div class="footer__descr"><span>Розумні інструменти</span> для зростання вашого бізнесу</div>
                </div>
                <div class="footer__box">
                    <div class="footer__items">
                        <div class="footer__item-2">
                            <div class="footer__item-text-2">Завжди з вам и на зв'язку:</div>
                        </div>
                        <div class="footer__item-2">
                            <a href="#" class="footer__link-2">Відділ продажів: +38 (067) 333 10 29</a>
                            <a href="#" class="footer__link-2">Технічний відділ: +38 (073) 222 10 29</a>
                            <a href="#" class="footer__item-social">
                                <img src="/images/footer/telegram.svg" alt="" class="footer__item-social-img" loading="lazy">
                                <p class="footer__link">Написати у Telegram</p>
                            </a>
                            <a href="#" class="footer__item-social">
                                <img src="/images/footer/viber.svg" alt="" class="footer__item-social-img" loading="lazy">
                                <p class="footer__link">Написати у Viber</p>
                            </a>
                        </div>
                        <div class="footer__item-2">
                            <a href="mailto:info@gbtools.com" class="footer__links">
                                <img src="/images/footer/main.svg" alt="" class="footer__img" loading="lazy">
                                <p class="footer__link">info@gbtools.com</p>
                            </a>
                            <a href="#" class="footer__links">
                                <img src="/images/footer/instagram.svg" alt="" class="footer__img" loading="lazy">
                                <p  class="footer__link">Instagram QB Tools</p>
                            </a>
                        </div>
                    </div>
                    <div class="footer__copypast">
                        © 2013 QB Tools, Inc. All Rights Reserved.
                    </div>
                    <div class="footer__copypast">
                        QB Tools is a registered trademark of QB Tools, Inc. All other trademarks remain the property of their respective owners.
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__item-text">
                    Powered by WebStick
                </div>
                <div class="footer__item">
                    <div class="footer__item-text active">
                        Політика конфіденційності
                    </div>
                    <div class="footer__item-text active">
                        Умови доступу та користування
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="popup">
    <div class="popup__inner">
        <div class="popup__box ass">
            <img src="/images/popup/close.svg" alt="" class="close__btn" loading="lazy">
            <img src="/images/popup/logo.svg" alt="" class="popup__logo" loading="lazy">
            <div class="popup__descr">Ми отримали ваш запит та зв'яжемося з вами за декілька хвилин </div>
            <img src="/images/popup/smile.svg" alt="" class="popup__smile" loading="lazy">
            <div class="standart-btn popup__btn">Дякуємо</div>
        </div>
    </div>
</div>

<div class="popup form">
    <div class="popup__inner">
        <div class="popup__box form">
            <img src="/images/popup/close.svg" alt="" class="close__btn" loading="lazy">
            <img src="/images/popup/logo.svg" alt="" class="popup__logo" loading="lazy">
            <div class="popup__descr form">Залиште заявку, щоб отримати інструменти QB tools</div>
            <form class="popup__form">
                <div class="input__wrap">
                    <input class="input-name popup-input" type="text" placeholder="Ваше ім’я">
                    <span class="red-star">*</span>
                </div>
                <div class="input__wrap">
                    <input class="input-tel popup-input" type="tel" id="phone-4" placeholder="Ваш номер телефону">
                    <span class="red-star-2">*</span>
                </div>
            </form>
            <div class="standart-btn popup__btn-2">Залишити заявку</div>
        </div>
    </div>
</div>


<script src="/build/js/intlTelInput.js"></script>
<script type="module" src="/js/main.min.js"></script>


</body>

</html>